# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

Kitab at Tawheed_251012_121524.txt
generateTafsirData.js
Riyard Us Saliheen_251016_201636(2).txt
generateRSSData.js
generateKATData.js
convertToJson.js
og.txt
og2.txt
audio/